ipython==7.6.1
ipython-genutils==0.2.0
luigi==2.8.7
numpy==1.21
openpyxl==3.0.7
pandas==0.25.0
python-apt==1.6.5
python-daemon==2.1.2
python-dateutil==2.8.0
python-debian==0.1.32
tenacity==6.0.0
tornado==4.5.3
tqdm==4.61.2
traitlets==4.3.2
urllib3==1.25.11
